<div class="component">
  <!--<h2>{{$ctrl.text}}</h2>-->
  <div class="main-container">
    <!--<login class="main">-->
    <div class="main-block-parent">
      <div class="main-block">

          <form name="$ctrl.loginForm" ng-submit="$ctrl.logInfo()" class="login" novalidate>
            <div>
              <input name="login" type="text" ng-model="$ctrl.name" class="name-login-input" placeholder="your name" required="true"/>
              <div ng-if="$ctrl.loginForm.$submitted && $ctrl.loginForm.login.$error.required"> Login is required.</div>
            </div>
            <div>
              <input name="password" type="password" ng-model="$ctrl.password" class="name-login-input" placeholder="your password" required="true"/>
              <div ng-if="$ctrl.loginForm.$submitted && $ctrl.loginForm.password.$error.required"> Password is required.</div>
            </div>
            <div>
              <button type="submit" class="btn btn-submit">log in</button>
              <div  class="col-xs-12" ng-if="$ctrl.error">{{$ctrl.error}}</div>
            </div>


          </form>

    <!--untain-title>-->
    <!--<fountain-techs></fountain-techs>-->
    <!--</login>-->
      </div>
    </div>
  </div>

</div>
