<div class="component">
  <!--<h2>{{$ctrl.text}}</h2>-->
  <div class="main-container">
    <fountain-header></fountain-header>
    <!--<login class="main">-->
    <form ng-submit="$ctrl.login(form)" class="login">
      <input  type="text" ng-model="$ctrl.name" class="name-login-input" placeholder="your name"></input>
      <input  type="text" ng-model="$ctrl.pass" class="name-login-input" placeholder="your password"></input>
      <button type="submit" class="btn btn-submit">log in</button>
    </form>
    <!--<fountain-title></fountain-title>-->
    <!--<fountain-techs></fountain-techs>-->
    <!--</login>-->
    <fountain-footer></fountain-footer>
  </div>

</div>
